-* {
    font-family: 'Raleway', sans-serif;
}
.one-line {
    font-weight: 100;
    font-size: 400%;
    text-align: center;
    margin-top: 10%;
}
.two-line {
    font-weight: 700;
    font-size: 400%;
    text-align: center;
    margin-top: -2%;
    line-height: 0.90;
}
.header, .title {
    text-transform: uppercase;
    background-color: #252525;
    color: #fff;
}
.title{
    padding-bottom: 22.5%;
}
.header {
    font-size: 200%;
    margin-top: -1%;
    font-weight: 500;
    padding: 2%;
    height: 2.5%;
}
.one-block{
    background-color: #252525;
    height: 100%;
}
.two-block{
    background-color: #fff;
    padding: 0% 20%;
}
.three-line{
    text-transform: uppercase;
    text-align: center;
    margin-top: 10%;
}
@media (max-width: 760px) {
    .two-line{
        margin-top: -6%;
        line-height: 0.9;
    }
    .one-line{
        line-height: 0.9;
    }
}
