body{
    font-family: 'Nunito', sans-serif;
}
.text-logo{
    display: inline;
    font-size: 30px;
    color: #012970;
    font-weight: 700;
}
.img-header{
    margin-left: 9%;
}
.header-link{
    display: inline;
    text-decoration: none;
    color: #012970;
    font-size: 20px;
    font-weight: 700;
    margin-left: 10%;
}
.header-link-1{
    display:inline;
    color: #012970;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    margin-left: 3%;
}
.header-button{
    padding: 0.5%;
    background-color: blueviolet;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    color: white;
    margin-left: 2%;
}
.title{
    display: inline-block;
    margin-bottom: 20%;
    margin-left: 50px;
    font-size: 30px;
}
.img{
display: inline;
    margin-left: 50%;
    margin-bottom: 50%;
}
br{
    display: inline-block;
}
