
# Создано https://www.toptal.com/developers/gitignore/api/windows 
# Редактировать на https://www.toptal.com/developers/gitignore?templates=windows 

### Windows ### 
# Миниатюра Windows cache files 
Thumbs.db 
Thumbs.db:encryptable 
ehthumbs.db 
ehthumbs_vista.db 

# Файл дампа 
*.stackdump 

# Файл конфигурации папки 
[Dd]esktop.ini 

# Корзина, используемая в общих файловых ресурсах 
$RECYCLE.BIN/ 

# Файлы установщика Windows 
*. cab 
*.msi 
*.msix 
*.msm 
*.msp 

# Ярлыки Windows 
*.lnk 

# Конец https://www.toptal.com/developers/gitignore/api/windows